hyde_venv/
.env
__pycache__/
*.pyc

your_lines.json
top_lines.json
t.txt
system_prompt.txt
strong_lines.txt
sorted_dialogue.json
prompt.txt
hyde.json
f.py
core_quotes.json
core_memory.txt
alltext.txt
import-json.py